@import 'reset';
@import 'fonts';
@import 'utility';


* {
  font-family: Lato;
}

body {
  color: $text-color;
  background-color: $bg-color;
} 
 
.container {
  display: flex;
  justify-content: center;
}

.full {
  height: 100vh;
  width: 100%;
}

.flex-column {
  flex-direction: column;
}

.flex-c {
  align-items: center;
  justify-content: center;
}

.flex-c-adjust {
  margin-top: -50px;
}

.flex-s {
  justify-content: flex-start;
}

.flex-e {
  justify-content: flex-end;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.creon-style {
  @include creon;
} 

.prevent-select {
  user-select: none;
}

.menu-style {
  @include creon;
  transition: 0.1s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transition: 0.05s ease-in-out;
    transform: scale(0.95);
  }
}

.hide {
  display:  none;
}